.DS_Store

*.cmake

bin
cmakebuild
build
hengine

CMakeCache.txt
MakeFiles
CMakeFiles
MakeFile
nbproject
install_manifest.txt
null.d

xcode
.vs
.vscode
Solutions
cmakebuild
CMakeScripts
*.a
compile_commands.json
*.h#
*.h~
*.cpp#
*.cpp~
*.txt#
*.txt~
#*
*.xcodeproj
