.DS_Store

*.cmake

bin
cmakebuild

CMakeCache.txt
MakeFiles
CMakeFiles
MakeFile
nbproject

xcode
vs
Solutions
cmakebuild
CMakeScripts
*.a
compile_commands.json
*.h#
*.h~
*.cpp#
*.cpp~
*.txt#
*.txt~
#*
